<html>
    <body>
        <div>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="Homework_text">作业内容:</label>
                    <br/>
                    <textarea type="text" class="form-control" id="Homework_text" name="Homework_text" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="deadline_date">截止日期：</label>
                    <br/>
                    <input type="date" id="deadline_date" name="deadline_date">
                </div>
                <div class="form-group">
                    <label for="deadline_time">截止时间：</label>
                    <br/>
                    <input type="time" id="deadline_time" name="deadline_time">
                </div>
                <button type="submit" class="btn btn-promary">完成</button>
            </form>
        </div>
    </body>
</html>
