<!-- extends表明此页面继承自 baseHome.html 文件 -->
{% extends "baseHome.html" %}
{% load staticfiles %}

<!-- 写入 baseHome.html 中定义的 title -->
{% block title %}
    修改密码
{% endblock title %}

<!--加入滚动条-->
<div style="position:absolute; height:400px; overflow:auto">
</div>

{% block head %}
    <link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock head %}

{% block style %}
    <style type="text/css">
        body{
            font-size: 16px;
        }
        .form{
            background: rgba(255,255,255,0.2);
            width: 400px;
            margin: 100px auto;
        }
        #login_form{
            display: block;
        }
        .fa{
            display: inline-block;
            top: 30px;
            left: 6px;
            position: relative;
            color: #ccc;
        }
        input[type="text"],input[type="password"]{
            padding-left: 30px;
        }
    </style>
{% endblock style %}

<!-- 写入 baseHome.html 中定义的 content -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>修改密码</h1>

            <!--<a href = "{% url 'Login:PAGE' %}">回到主页</a>-->
            <!--<a href = "{% url 'Login:usercenter' %}">个人中心</a>-->
            <a href="{% url 'Login:editprofile' %}" class="btn btn-primary">编辑个人信息</a>
            <!--<a href = "{% url 'Login:changepassword' %}">修改密码</a>-->
            <!--<a href = "{% url 'Login:logOut' %}">登出</a>-->
            <div><br></div>
                {{ changepasswordForm.errors }}
            <form action="" method = "POST">
                {% csrf_token %}
                {{ changepasswordForm.as_p }}
                <button type="submit" class="btn btn-primary">提交</button>
                <!--<button type = "submit">提交</button>-->
            </form>
        </div>
    </div>
</div>
{% endblock content %}
