<!-- extends表明此页面继承自 baseHome.html 文件 -->
{% extends "baseHome.html" %}
{% load staticfiles %}

<!-- 写入 baseHome.html 中定义的 title -->
{% block title %}
    主页
{% endblock title %}

<!-- 写入 baseHome.html 中定义的 content -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">

    <h1>主页</h1>
    {% if user.is_authenticated %}
        <div class="col-2 alert alert-success">当前用户:{{ user.username }}</div>
        <div class="col-2 alert alert-success">当前用户身份:{{ request.session.role }}</div>
        <div class="col-3 alert alert-warning">您正在加入课程……</div>
        <div class="row">
            <div class="col-auto mr-auto">
                <form class="form-inline" >
                    <input type="text" 
                        class="form-control mb-2 mr-sm-2" 
                        name="search" 
                        placeholder="搜索..." 
                        required
                    >
                </form>
            </div>
        </div>
        {% if search %}
        {% if target %}
            <div class="col-3 alert alert-success"><span style="color: red">"{{ search }}"</span>的搜索结果如下：</div>
            <!--
                <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
            -->
            
            <ul>
                {% for targetfile in target %}    
                    <li>{{targetfile.id}}  {{targetfile.courseNum }}  {{ targetfile.teacherName }} 
                        <form action='../joincourse/' method="GET">
                            {% csrf_token %}
                            
                            <input type='hidden' name='ID' value={{targetfile.id}}>
                            <input type='submit' value='加入' name ='join'>
                        </form>
                            
                    </li>
                {% endfor %}
            </ul>
            <hr>        
        {% else %}
            <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文件。</h4>
            <hr>
        {% endif %}
    {% endif %}
    {% else %}
        <a href = "{% url 'Login:登录' %}">登录</a>
        <a href = "{% url 'Login:注册' %}">注册</a>
    {% endif %}

        </div>
    </div>
</div>

{% endblock content %}
