<!-- extends表明此页面继承自 baseReg.html 文件 -->
{% extends "baseHome.html" %}
{% load staticfiles %}

<!-- 写入 baseHome.html 中定义的 title -->
{% block title %}
    作业批改
{% endblock title %}

<!--加入滚动条-->
<div style="position:absolute; height:400px; overflow:auto">
</div>

<!-- 写入 baseHome.html 中定义的 content -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <div class="panel-heading">
                <h3 class="panel-title">已提交</h3>
            </div>
            <div class="panel-body">
                <table>
                <tr>
                    <td class="alert alert-success">学生姓名</td>
                    <td class="alert alert-success">文件</td>
                    <td class="alert alert-success">操作1</td>
                    <td class="alert alert-success">操作2</td>
                </tr>


                {% for homework in homeworklist %}
                <tr>
                    <td>{{homework.username}}</td>
                    <td><a href="http://localhost:8000/files/{{ homework.headImg.name }}">{{homework.headImg.name }}</a></td>
                    <td><a class="btn btn-primary" href='../../comment/showComment?hwId={{homework.homework_id}}&fileId={{homework.id}}'>查看评分和评论</a></td>
                    <td><a class="btn btn-primary" href='../../comment/postComment?hwId={{homework.homework_id}}&fileId={{homework.id}}'>打分和添加评论</a></td>
                </tr>
                {% endfor %}
                </table>

            </div>
                
        </div>
    </div>  
    <div class="panel-heading">
        <h3 class="panel-title">未提交</h3>
    </div>
        <table>
            <tr>
                <td class="alert alert-success">学生姓名</td>    
            </tr>
            {% for student in uncomplete %}
            <tr>
                <td>{{ student.studentName }}</td>
            </tr>
            {% endfor %}
        </table>
</div>

{% endblock content %}