<!-- extends表明此页面继承自 baseHome.html 文件 -->
{% extends "baseHome.html" %}
{% load staticfiles %}

<!-- 写入 baseHome.html 中定义的 title -->
{% block title %}
    详细信息
{% endblock title %}

<!--加入滚动条-->
<div style="position:absolute; height:400px; overflow:auto">
</div>

<!-- 写入 baseHome.html 中定义的 content -->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            
                <div><br></div>
                <div><br></div>
                <div class="col-2 alert alert-success">用户名：{{ detail.username }}</div>
                <div class="col-3 alert alert-success">邮箱：{{ detail.email }}</div>
                <div class="col-2 alert alert-success">昵称：{{ detail.normaluserform.nickname }}</div>
                <div class="col-2 alert alert-success">身份：{{ detail.normaluserform.Identity }}</div>               
                    
                
            
        </div>
    </div>
</div>
{% endblock content %}