<!-- 载入静态文件 -->
{% load staticfiles %}

<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">

<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <!-- 预留网站标题的位置 -->
    <title>{% block title %}{% endblock %}</title>
    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="shortcut icon"type="image/x-icon" href="/static/images/bitbug_favicon.ico" media="screen" />
    {% block head %}{% endblock head %}

    {% block style %}{% endblock style %}
</head>

<body background="/static/images/bg.jpg" style=" background-repeat:no-repeat ;background-size:100% 100%;
background-attachment: fixed;">
    <!-- 引入导航栏 -->
    {% include 'headerHome.html' %}

    {% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="col-12">
    
    <div class="container-fluid">
        <div class="row">
                <!-- 左目录 -->
                <div class="col-3 col-lg-2 card d-none d-md-block" id="left-sidebar">
                    <div class="sidebar" id="sidebar">
                        <div class="sidebar__inner">
                            <div class="card-body" style="padding: 20px 0 0 0; overflow: auto;">
                
                                
                <div class="card-text" style="overflow: hidden">
                    <p class="mb-0">
                        <a href = "{% url 'Login:PAGE' %}" style="color: #b8b8b8;"
                        class="no-underline hvr-forward">返回主页</a>
                    </p>
                    
                    <p class="mb-0">
                        <a href="{% url 'Login:usercenter' %}" style="color: #b8b8b8;"
                        class="no-underline hvr-forward">个人中心</a>
                    </p>

                    <p class="mb-0">
                        <a href="{% url 'Login:editprofile' %}" style="color: #b8b8b8;"
                        class="no-underline hvr-forward">编辑个人信息</a>
                    </p>
                    
                    <p class="mb-0">
                        <a href="{% url 'Login:changepassword' %}" style="color: #b8b8b8;"
                        class="no-underline hvr-forward">修改密码</a>
                    </p>
                </div>
                            </div>        
                        </div>
                    </div>
                </div>
                <!--左目录结束-->
    
                <!-- 正文 -->
                <div class="col-lg-8 col-md-9" id="main" >
                <!-- 预留具体页面的位置 -->
                {% block content %}{% endblock content %}
                </div>
        </div>
    </div>
            </div>
        </div>
    </div>
    {% else %}
    <!-- 预留具体页面的位置 -->
    {% block content2 %}{% endblock content2 %}
    {% endif %}
    <!-- 引入注脚 -->
    {% include 'footer.html' %}
    
    <!-- bootstrap.js 依赖 jquery.js 和popper.js，因此在这里引入 -->
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'popper/popper.js' %}"></script>    
    <!-- 引入bootstrap的js文件 -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- 引入layer.js -->
    <script src="{% static 'layer/layer.js' %}"></script>
</body>

</html>