{% load staticfiles %}
<!-- Footer -->
<footer class="py-3 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">
            Contact us:
            <img src="{% static 'images/blank.PNG' %}" width="10" height="35">
            <a href="https://github.com/SoftwareGroupTen/demo2">
                <img src="{% static 'images/gitSign.PNG' %}" width="35" height="35">
            </a>
            <img src="{% static 'images/blank.PNG' %}" width="10" height="35">
            <a href="mailto:service@sjtu.edu.cn ">
                <img src="{% static 'images/mailSign.PNG' %}" width="35" height="35">
            </a>
            <img src="{% static 'images/blank.PNG' %}" width="10" height="35">
            <!--<a href="https://weibo.com/">
                <img src="{% static 'images/weiboSign.PNG' %}" width="35" height="35">
            </a>
            <img src="{% static 'images/blank.PNG' %}" width="10" height="35">-->
            <a href="http://localhost:8000/files/files/wx.png">
                <img src="{% static 'images/wechatSign.PNG' %}" width="35" height="35">
            </a>
        </p>
        
        <p class="m-0 text-center text-white">CopyRight &copy; SJTU SoftwareEngineering Group10</p>
    </div>
</footer>